@charset "utf-8";

.l-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;

    &__inner {
        height: 60px;
        padding: 0 16px;
        background-color: #fff;

        .c-header__logo {
            width: 124px;
            margin: 0 auto;
            padding: 10px 0 0;

            img {
                width: 100%;
            }
        }

        .c-hamburgermenu {

            &__btn {
                position: fixed;
                z-index: 90;
                top: 5px;
                right: 10px;
                display: flex;
                height: 50px;
                width: 50px;
                justify-content: center;
                align-items: center;
                background-color: #fff;

                &:hover {
                    cursor: pointer;
                }

                span {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 20px;
                    border-radius: 3px;
                    background-color: #000;
                    transition: 0.3s;

                    &::before, &::after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: 20px;
                        border-radius: 3px;
                        background-color: #000;
                        position: absolute;
                        transition: 0.3s;
                    }

                    &::before {
                        bottom: 6px;
                    }

                    &::after {
                        top: 6px;
                    }
                }
            }

            .p-gnavSp {
                position:fixed;
                z-index: -1;
                opacity: 0;
                top: 60px;
                width:100%;
                height: calc(100vh - 60px);
                background:#fff;
                transition: all 0.3s;

                &.active{
                    opacity: 1;
                    z-index:80;
                }

                &__list {
                    position: absolute;
                    z-index: 90;
                    top:50%;
                    left:50%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    transform: translate(-50%,-50%);

                    &Item {
                        width: 100%;
                        text-align: center;

                        a {
                            color: #000;
                            font-size: 18px;
                            font-weight: bold;
                            text-decoration: none;
                            transition: 0.3s;

                            &:hover {
                                opacity: 0.7;
                            }
                        }

                        &:nth-last-child(n+2) {
                            margin-bottom: 24px;
                        }

                        &.insta {
                            margin-bottom: 50px;
                        }

                        &.shop {
                            width: 46%;

                            &:nth-child(odd) {
                                text-align: left;
                            }

                            &:nth-child(even) {
                                text-align: right;
                            }

                            a {
                            font-size: 14px;
                            }
                        }
                    }
                }
            }

            #menu-btn-check {
                display: none;
            }
            #menu-btn-check:checked ~ .c-hamburgermenu__btn span {
                background-color: rgba(255, 255, 255, 0);
            }
            #menu-btn-check:checked ~ .c-hamburgermenu__btn span::before {
                bottom: 0;
            }
            #menu-btn-check:checked ~ .c-hamburgermenu__btn span::after {
                top: 0;
            }
        }

        .p-gnavPc {
            display: none;
        }
    }
}

.l-main {
    &__visual {
        padding: 0 16px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        /*スクロールダウン全体の場所*/
        .c-scrolldown{
            /*描画位置※位置は適宜調整してください*/
            position:absolute;
            right: 15px;
            bottom: 60px;
            /*全体の高さ*/
            height: 60px;
        }

        /*Scrollテキストの描写*/
        .c-scrolldown span{
            /*描画位置*/
            position: absolute;
            left:-25px;
            top: -15px;
            transform: rotate(90deg);
            /*テキストの形状*/
            color: #000;
            font-size: 0.7rem;
            font-weight: bold;
            letter-spacing: 0.05em;
        }

        /* 線の描写 */
        .c-scrolldown::after{
            content: "";
            /*描画位置*/
            position: absolute;
            top: 0;
            /*線の形状*/
            width: 1px;
            height: 60px;
            background: #000;
            /*線の動き1.4秒かけて動く。永遠にループ*/
            animation: pathmove 1.4s infinite;
            opacity:0;
        }

        /*高さ・位置・透過が変化して線が上から下に動く*/
        @keyframes pathmove{
            0%{
                height: 0;
                top: 20px;
                opacity: 1;
            }
            30%{
                height: 60px;
                opacity: 1;
            }
            100%{
                height: 0;
                top: 80px;
                opacity: 0;
            }
        }
    }

    &__section {
        padding: 90px 0;
    }
}

.c-sectionTitle {
    margin-bottom: 46px;
    font-size: 24px;;
    text-align: center;
}

.p-news {

    &__list {
        list-style: none;

        &Item {
            margin-bottom: 16px;
            padding: 0 2.5%;

            a {
                text-decoration: none;

                &:hover img  {
                    transform: scale(1.2);
                }
            }
        }
    }

    &__image {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
    }

    &__img {
        object-fit: cover;
        object-position: center;
        transition: 8s;
    }

    &__tag {
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        padding: 9px;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        background-color: #fff;
    }

    &__title {
        padding: 0.5em 0.5em 0;
        color: #000;
        font-size: 14px;
        line-height: 1.6;
    }

    &__date {
        padding: 0.6em 0.7em 0;
        color: #999;
        font-size: 12px;
        font-weight: bold;
    }
}

.c-moreBtn {
    padding-top: 72px;
    text-align: center;

    a {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
    }
}

.p-about {
    background-color: #eee;

    &__list {
        width: 80%;
        margin: 0 auto;
        font-size: 14px;

        &Title {
            height: 36px;
            font-weight: bold;
            line-height: 36px;

            &:nth-of-type(n+2) {
                margin-top: 22px;
            }
        }

        &Data {
            min-height: 36px;
            line-height: 1.6;
        }
    }
}

.p-contact {
    width: 100%;
}

.p-form {
    width: 80%;
    margin: 0 auto;

    &Item {
        margin-bottom: 44px;

        &__label {
            font-size: 14px;
            font-weight: bold;
            line-height: 50px;

            &--required {
                margin-left: 10px;
                color: #d50f0f;
            }
        }

        &__input {
            width: 100%;
            padding: 0.7em 0.5em;
            font-size: 14px;
        }

        &__textarea {
            width: 100%;
            padding: 0.7em 0.5em;
            font-size: 14px;
        }
    }

    &Btn {
        display: block;
        width: 100px;
        height: 32px;
        margin: 0 auto;
        border: none;
        border-radius: 16px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        background-color: #000;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

.l-footer {
    padding: 90px 0;
    border-top: 1px solid #eee;
    text-align: center;

    &__logo {
        width: 120px;
        margin: 0 auto 16px;
    }

    &__list {
        margin-bottom: 24px;
        list-style: none;

        &Item {

            &:nth-child(n+2) {
                margin-top: 12px;
            }

            a {
                color: #000;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                transition: 0.3s;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &__copy {
        font-size: 10px;
        font-weight: bold;
    }
}

@media(min-width: 960px) {

.l-header {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        padding: 0 28px;

        .c-header__logo {
            width: 150px;
            margin: 0;
        }

        .c-hamburgermenu {
            display: none;
        }

        .p-gnavPc {
            display: block;

            &__list {
                display: flex;
                justify-content: space-between;

                &Item {

                    &:nth-child(n+2) {
                        margin: 0 0 0 24px;
                    }

                    a {
                        color: #000;
                        font-size: 18px;
                        font-weight: bold;
                        text-decoration: none;
                        transition: 0.3s;

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}

.l-main {
    &__visual {
        height: 100vh;
        padding: 0 28px;


        // img {
        //     width: 100%;
        //     object-fit: cover;
        // }
    }

    &__section {
        padding: 144px 0;
    }
}

.c-sectionTitle {
    margin-bottom: 72px;
    font-size: 32px;;
    text-align: center;
}

.p-news {

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;

        &Item {
            width: calc(100% / 3);
            margin-bottom: 16px;
            padding: 0 2.5%;

            a {
                text-decoration: none;

                &:hover img  {
                    transform: scale(1.2);
                }
            }
        }
    }

    &__image {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
    }

    &__img {
        object-fit: cover;
        object-position: center;
        transition: 8s;
    }

    &__tag {
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-block;
        padding: 9px;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        background-color: #fff;
    }

    &__title {
        padding: 0.5em 0.5em 0;
        color: #000;
        font-size: 14px;
        line-height: 1.6;
    }

    &__date {
        padding: 0.6em 0.7em 0;
        color: #999;
        font-size: 12px;
        font-weight: bold;
    }
}

.c-moreBtn {
    padding-top: 72px;
    text-align: center;

    a {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
    }
}

.p-about {

    &__list {
        font-size: 16px;
    }
}

.p-contact {

    .p-form {
        width: 60%;

        &Item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 72px;

            &__label {
                width: 40%;
                font-size: 16px;
            }

            &__input {
                width: 55%;
                font-size: 16px;
            }

            &__textarea {
                width: 55%;
                font-size: 16px;
            }
        }

        &Btn {
            width: 120px;
            height: 40px;
            border-radius: 20px;
            font-size: 18px;
        }
    }
}

.l-footer {
    padding: 144px 0;

    &__logo {
        width: 150px;
    }

    &__list {
        display: flex;
        justify-content: center;

        &Item {

            &:nth-child(n+2) {
                margin-top: 0;
                margin-left: 24px;
            }

            a {
                font-size: 16px;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &__copy {
        font-size: 12px;
    }
}
}