@charset "utf-8";

.l-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;

    &__inner {
        height: 60px;
        padding: 0 16px;
        background-color: #fff;

        .c-header__logo {
            width: 124px;
            margin: 0 auto;
            padding: 10px 0 0;

            img {
                width: 100%;
            }
        }

        .c-hamburgermenu {

            &__btn {
                position: fixed;
                z-index: 90;
                top: 5px;
                right: 10px;
                display: flex;
                height: 50px;
                width: 50px;
                justify-content: center;
                align-items: center;
                background-color: #fff;

                &:hover {
                    cursor: pointer;
                }

                span {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 2px;
                    width: 20px;
                    border-radius: 3px;
                    background-color: #000;
                    transition: 0.3s;

                    &::before, &::after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: 20px;
                        border-radius: 3px;
                        background-color: #000;
                        position: absolute;
                        transition: 0.3s;
                    }

                    &::before {
                        bottom: 6px;
                    }

                    &::after {
                        top: 6px;
                    }
                }
            }

            .p-gnavSp {
                display: none;
                position:fixed;
                z-index: -100;
                top: 60px;
                width: 100%;
                height: calc(100vh - 60px);
                background:#fff;
                opacity: 0;
                transition: all 0.5s;

                &.active{
                    display: block;
                    opacity: 1;
                    z-index:80;
                }

                &__list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: calc(100vh - 60px);

                    &Item {
                        width: 30%;

                        a {
                            color: #000;
                            font-size: 14px;
                            font-weight: bold;
                            text-decoration: none;
                            transition: 0.3s;

                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }

                    &Title {
                        margin-bottom: 26px;
                        font-size: 12px;
                    }

                    .c-menu__list {
                        &Item {

                            &:nth-last-child(n+2) {
                                margin-bottom: 18px;
                            }
                        }
                    }

                    .c-ec__list {
                        &Item {

                            &:nth-last-child(n+2) {
                                margin-bottom: 18px;
                            }

                            i {
                                margin-left: 2px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            #menu-btn-check {
                display: none;
            }
            #menu-btn-check:checked ~ .c-hamburgermenu__btn span {
                background-color: rgba(255, 255, 255, 0);
            }
            #menu-btn-check:checked ~ .c-hamburgermenu__btn span::before {
                bottom: 0;
            }
            #menu-btn-check:checked ~ .c-hamburgermenu__btn span::after {
                top: 0;
            }
        }

        .p-gnavPc {
            display: none;
        }
    }
}

.l-main {

    &__visual {
        height: 100vh;

        video {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        .c-scrolldown{
            position:absolute;
            right: 16px;
            bottom: 60px;
            height: 60px;
        }

        .c-scrolldown span{
            position: absolute;
            left: -26px;
            top: -16px;
            transform: rotate(90deg);
            color: #fff;
            font-size: 0.8rem;
            font-weight: bold;
        }

        .c-scrolldown::after{
            content: "";
            position: absolute;
            top: 0;
            width: 1px;
            height: 60px;
            background: #fff;
            animation: pathmove 1.4s infinite;
            opacity:0;
        }

        @keyframes pathmove{
            0%{
                height: 30px;
                top: 20px;
                opacity: 1;
            }
            20%{
                height: 60px;
                opacity: 1;
            }
            100%{
                height: 0;
                top: 100px;
                opacity: 0;
            }
        }
    }

    &__section {
        padding: 90px 0;
    }
}

.c-sectionTitle {
    margin-bottom: 46px;
    font-size: 24px;
    text-align: center;
}

.c-sectionText {
    margin-bottom: 46px;
    font-size: 14px;
    text-align: center;
    line-height: 1.8;
}

.c-moreBtn {
    position: relative;
    width: fit-content;
    margin:0 auto;

    a {
        display: block;
        padding: 10px 30px;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
    }

    &::before,
    &::after{
        content:"";
        position: absolute;
        width: 0;
        height:1px;
        background:#000;
        transition: all 0.2s linear;
        transition-delay: 0.2s;
    }

    &::before{
        right: 0;
        top: 0;
    }
    &::after{
        left: 0;
        bottom: 0;
    }

    & span{
        display: block;
    }

    & span::before,
    & span::after{
        content:"";
        position: absolute;
        width:1px;
        height:0;
        background: #000;
        transition: all 0.2s linear;
    }

    & span::before{
        left: 0;
        top: 0;
    }
    & span::after{
        right: 0;
        bottom: 0;
    }

    &:hover::before,
    &:hover::after{
        width: 100%;
    }

    &:hover span::before,
    &:hover span::after{
        height: 100%;
    }
}

.p-news {

    &__list {
        list-style: none;

        &Item {
            margin-bottom: 32px;
            padding: 0 2.5%;

            &:last-child {
                margin-bottom: 64px;
            }

            a {
                text-decoration: none;

                &:hover img  {
                    transform: scale(1.2);
                }
            }
        }
    }

    &__image {
        width: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
    }

    &__img {
        object-fit: cover;
        object-position: 50% 50%;
        transition: 8s;
    }

    &__title {
        padding: 0.5em 0.5em 0;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.6;
    }
}

.p-about {
    background-color: #eee;

    &__image {
        margin-bottom: 32px;
    }

    &__text {
        width: 40%;
        margin: 0 auto;
    }

    &__list {
        width: 80%;
        margin: 0 auto;
        font-size: 14px;

        &Title {
            height: 36px;
            font-weight: bold;
            line-height: 36px;

            &:nth-of-type(n+2) {
                margin-top: 22px;
            }
        }

        &Data {
            min-height: 36px;
            line-height: 1.6;
        }
    }
}

.p-contact {
    width: 100%;
}

.p-form {
    width: 80%;
    margin: 0 auto;

    &Item {
        margin-bottom: 44px;

        &__label {
            font-size: 14px;
            font-weight: bold;
            line-height: 50px;

            &--required {
                margin-left: 10px;
                color: #d50f0f;
            }
        }

        &__input {
            width: 100%;
            padding: 0.7em 0.5em;
            font-size: 14px;
        }

        &__textarea {
            width: 100%;
            padding: 0.7em 0.5em;
            font-size: 14px;
        }
    }

    &Btn {
        display: block;
        width: 100px;
        height: 32px;
        margin: 0 auto;
        border: none;
        border-radius: 16px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        background-color: #000;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

.l-footer {
    padding: 90px 0;
    border-top: 1px solid #eee;
    text-align: center;

    &__logo {
        width: 120px;
        margin: 0 auto 48px;
    }

    .p-footer__list {
        margin-bottom: 64px;
        list-style: none;

        &Item {

            &:nth-last-child(n+2) {
                margin-bottom: 32px;
            }

            a {
                color: #000;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                transition: 0.3s;

                &:hover {
                    opacity: 0.7;
                }

                img {
                    width: 160px;
                }

                i {
                    font-size: 28px;
                }
            }

            .c-ec__list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                list-style: none;

                &Item {
                    width: 48%;
                    text-align: left;

                    &:nth-child(-n+2) {
                    margin-bottom: 8px;
                    }

                    &:nth-child(odd) {
                        text-align: right;
                    }

                }
            }
        }

        &Title {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
        }
    }

    &__copy {
        font-size: 10px;
        font-weight: bold;
    }
}

@media(min-width: 960px) {

    .l-header {

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 72px;
            padding: 0 28px;

            .c-header__logo {
                width: 150px;
                margin: 0;
            }

            .c-hamburgermenu {
                display: none;
            }

            .p-gnavPc {
                display: block;

                &__list {
                    display: flex;
                    justify-content: space-between;

                    &Item {

                        &:nth-child(n+2) {
                            margin: 0 0 0 24px;
                        }

                        a, p {
                            color: #000;
                            font-size: 18px;
                            font-weight: bold;
                            text-decoration: none;
                            cursor: pointer;
                            transition: 0.3s;

                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                }

                .c-ec__list {
                    position: fixed;
                    top: 72px;
                    right: -50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 20%;
                    height: calc(100vh - 72px);
                    padding: 0 28px;
                    background-color: #fff;
                    transition: 0.5s;

                    &.active {
                        right: 0;
                    }

                    &Item {
                        text-align: right;

                        &:nth-last-child(n+2) {
                            margin-bottom: 24px;
                        }

                        i {
                            margin-left: 6px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .l-main {

        &__section {
            padding: 144px 0;
        }
    }

    .c-sectionTitle {
        margin-bottom: 72px;
        font-size: 32px;
    }

    .c-sectionText {
        margin-bottom: 72px;
        font-size: 16px;
    }

    .c-moreBtn {

        a {
            font-size: 18px;
        }
    }

    .p-news {

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &Item {
                width: calc(85% / 3);
                margin-bottom: 64px;
            }
        }
    }

    .p-about {

        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 72px;
        }

        &__image {
            width: 50%;
            margin-bottom: 0;
        }

        &__list {
            font-size: 16px;
        }
    }

    .p-contact {

        .p-form {
            width: 60%;

            &Item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 72px;

                &__label {
                    width: 40%;
                    font-size: 16px;
                }

                &__input {
                    width: 55%;
                    font-size: 16px;
                }

                &__textarea {
                    width: 55%;
                    font-size: 16px;
                }
            }

            &Btn {
                width: 120px;
                height: 40px;
                border-radius: 20px;
                font-size: 18px;
            }
        }
    }

    .l-footer {
        padding: 144px 0;

        &__logo {
            width: 150px;
        }

        .p-footer__list {

            &Item {

                a {
                    font-size: 16px;

                    img {
                        width: 200px;
                    }

                    i {
                        font-size: 32px;
                    }
                }

                .c-ec__list {
                    justify-content: center;

                    &Item {
                        width: 90px;
                        text-align: center;

                        &:nth-child(-n+2) {
                            margin-bottom: 0;
                        }

                        &:nth-child(odd) {
                            text-align: center;
                        }

                    }
                }
            }

        &Title {
            margin-bottom: 12px;
        }

            &__copy {
                font-size: 12px;
            }
        }
    }
}